<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>IP Info</title>
  </head>
  <body>
    <h1>Your IP: <span th:text="${ip}"></span></h1>

    <h1>Your Hostname: <span th:text="${HostName}"></span></h1>

    <h1>Your Country: <span th:text="${Country}"></span></h1>

    <h1>Your City: <span th:text="${City}"></span></h1>

    <h1>Your Latitude: <span th:text="${Latitude}"></span></h1>

    <h1>Your Longitude: <span th:text="${Longitude}"></span></h1>
  </body>
</html>
